<div class="project-card-container">

    <div class="project-image-container">
        <img src="<%=project.image_url%>" alt="<%=project.name%>" class="project-image wh100"/>
        <div class="project-summary absolute">
                <%-project.summary%>
        </div>
    </div>
    <div class="project-name truncate">
        <%-project.name%>
    </div>
    <div class="project-owner" onmouseover="fetchOwnerdata('<%=project.id%>')">
            <img src="<%=project.owner.image_url%>"/>
            <div>
                <%-project.owner.screen_name%>
            </div>
        <%- include('./tooltipsOwnerInfo', {owner: project.owner}) %>
    </div>
</div>
