<% function abbreviateNumber(value) {
	var newValue = value;
	if (value >= 1000) {
		var suffixes = ['', 'k', 'm', 'b', 't'];
		var suffixNum = Math.floor(('' + value).length / 3);
		var shortValue = '';
		for (var precision = 2; precision >= 1; precision--) {
			shortValue = parseFloat(
				(suffixNum != 0
					? value / Math.pow(1000, suffixNum)
					: value
				).toPrecision(precision)
			);
			var dotLessShortValue = (shortValue + '').replace(/[^a-zA-Z 0-9]+/g, '');
			if (dotLessShortValue.length <= 2) {
				break;
			}
		}
		if (shortValue % 1 != 0) shortValue = shortValue.toFixed(1);
		newValue = shortValue + suffixes[suffixNum];
	}
	return newValue;
}
%>
<div class="container-fluid px-0">
    <div class="bg-black text-white text-center px-5 py-5">
        <h1 class="project-title mb-4 fw-bold"><%- project.name %></h1>
        <p class="summary fw-light mb-4"><%- project.summary %></p>
        <div class="d-flex align-items-center justify-content-center gap-2 mb-4">
            <img src="<%=project.owner.image_url%>" width="40" height="40" alt=">%=project.owner.username%>" class="rounded-circle"/>
            <div><%-project.owner.username%></div>
        </div>
    </div>

    <!-- Project stats and menu scroll -->
    <div class="project-stats-wrapper d-flex justify-content-center">
        <div class="container row px-5 text-white">
            <div class="projet-stat col-xl-5 col-md-12 d-flex justify-content-center justify-content-md-start ps-0 py-4 gap-4">
                <div class="projet-stat d-flex gap-1">
                    <div class="fw-bold fs-5"><%-abbreviateNumber(project.views)%></div>
                    <small class="text-gold">views</small>
                </div>
                <div class="projet-stat d-flex gap-1">
                    <div class="fw-bold fs-5"><%-abbreviateNumber(project.comments)%></div>
                    <small class="text-gold">comments</small>
                </div>
                <div class="projet-stat d-flex gap-1">
                    <div class="fw-bold fs-5"><%-abbreviateNumber(project.followers)%></div>
                    <small class="text-gold">followers</small>
                </div>
                <div class="projet-stat d-flex gap-1">
                    <div class="fw-bold fs-5"><%-abbreviateNumber(project.skulls)%></div>
                    <small class="text-gold">likes</small>
                </div>
            </div>
            <nav class="navigation col-xl-7 col-md-12 d-flex justify-content-center justify-content-md-start gap-4 gap-md-5 ps-0 fw-semibold">
                <a class="py-4 text-decoration-none text-white active" href="#project-description">
                    Description
                </a>
                <a class="project-details py-4 text-decoration-none text-white" href="#project-details">
                    Details
                </a>
                <a class="project-components py-4 text-decoration-none text-white" href="#project-components">
                    Components
                </a>
                <a class="project-logs py-4 text-decoration-none text-white" href="#project-logs">
                    Logs
                </a>
                <a class="project-instructions py-4 text-decoration-none text-white" href="#project-instructions">
                    Instructions
                </a>
            </nav>
        </div>
    </div>

    <!--  Project Info Body-->
    <div class="d-flex justify-content-center mt-4">
        <div class="container row px-5 text-white">

            <!-- Left Side content -->
            <div class="projet-images col-xl-5 col-md-12 gap-4 ps-0">
                <% if(project.images) {%>
                    <img src="<%= project.imagesArray[0].url%>" width="100%" height="400" id="project-main-image-display" style="border-radius: 5px;"/>
                    <div class="project-gallary-holder mb-4">
                        <% project.imagesArray.forEach((image, i) => { %>
                            <a href="/project/<%=project.id%>/image#<%=image.id%>">
                                <img src="<%= image.url%>" width="100%" height="100" id="<%=image.id%>" style="object-fit: cover; border-radius: 5px;"/>
                            </a>
                        <% }) %>
                    </div>
                <% }%>
            </div>

            <!-- Right Side Content -->
            <div class="col-xl-7 col-md-12 d-flex flex-column align-items-center align-items-md-start gap-4 gap-md-5 ps-0">
                <% if(project.description) {%>
                    <section id="project-description">
                        <div  class="section-title fw-bold fs-5 mb-2 text-uppercase">Description</div>
                        <div class="mb-3" style="white-space: pre-line;"><%-project.description%></div>
                    </section>
                    <div class="section-seperator w-100"></div>
                <% }%>
                <% if(project.details) {%>
                    <section id="project-details">
                        <div  class="section-title fw-bold fs-5 mb-2 text-uppercase">details</div>
                        <% project.details_info.forEach(detail => {%>
                        <div class="mb-3"><%-detail.body%></div>
                        <%})%>
                    </section>
                    <div class="section-seperator w-100"></div>
                <% }%>
            </div>
        </div>
    </div>
</div>
<script>
    // scroll function, setting anchor tag active
    const links = document.querySelectorAll(".navigation a");

        for (const link of links) {
            link.addEventListener("click", clickHandler);
        }

        function clickHandler(e) {
            e.preventDefault();
            const href = this.getAttribute("href");
            const offsetTop = document.querySelector(href).offsetTop;
            this.classList.add('active')
            links.forEach(link => {
                if(link.getAttribute("href") !== href) link.classList.remove('active')
            })
            scroll({
                top: offsetTop,
                behavior: "smooth"
            });
        }


    // display image when hover
    const imagesLink= document.querySelectorAll('.projet-images a')
    for(const imageLink of imagesLink){
        imageLink.addEventListener('mouseover', changeGallaryImage)
        imageLink.addEventListener('click', changeGallaryImage)
    }

    function changeGallaryImage(e){
        e.preventDefault();
        const imageId = this.getAttribute('href').split('#')[1]
        const imageUrl = document.getElementById(imageId).getAttribute('src')
        document.getElementById('project-main-image-display').src = imageUrl
    }


    //take data-src from details image and put it into src to display image
    let imgEl = document.getElementsByTagName('img');
        for (var i = 0; i < imgEl.length; i++) {
            if (imgEl[i].getAttribute('data-src')) {
                imgEl[i].setAttribute('src', imgEl[i].getAttribute('data-src'));
            }
        }
</script>
