<div class="owner-info-wrapper" id="indentity-card">
    <img src="<%=owner.image_url%>" class="owner-info-image rounded-circle" width="80px" height="80px"/>
    <div class="owner-info-container">
        <div class="fs-5 fw-light text-gold"><%-owner.screen_name%></div>
        <% if (owner.location) {%>
            <div>
            Location: <%-owner.location%>
            </div>
        <% } %>
        <div>
            <%-owner.about_me ? owner.about_me: owner.who_am_i ? owner.who_am_i : ""%>
        </div>
        <div>
            <%-owner.followers%> Followers | <%-owner.projects%> Projects
        </div>
    </div>
</div>
